@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-geist-sans);
  background: #ffffff;
  color: #0f172a;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #c026d3;
  color: white;
}